<ol class="breadcrumb">
  <li><%= link_to content_tag(:span, '', :class => 'fa fa-home', 'aria-hidden' => true), root_path %>
  <li><%= link_to @log_group_name, group_streams_path(@log_group_name, region: @region) %></li>
  <li class="active"><%= @log_stream_name %></li>
</ol>
<ul>
  <% @events.each do |event| %>
    <li><%= event.message %></li>
  <% end %>
</ul>

<%= events_paginate @log_group_name, @log_stream_name, @events %>
